PORTAINER_PORT=

POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_MULTIPLE_DATABASES=nextcloud

NEXTCLOUD_PORT_1=80
NEXTCLOUD_PORT_2=443
NEXTCLOUD_ADMIN_USER=
NEXTCLOUD_ADMIN_PASSWORD=
NEXTCLOUD_TRUSTED_DOMAINS=bighandsolutions.ddns.net 192.168.1.2 bighand.asia www.bighand.asia
PHP_MEMORY_LIMIT=2G
PHP_UPLOAD_LIMIT=50G

MONGODB_PORT=20001
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

MONGODB_UI_PORT=8083
ME_CONFIG_BASICAUTH_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
ME_CONFIG_BASICAUTH_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
ME_CONFIG_MONGODB_URL=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/

ADGUARDHOME_PORT_1=8081
ADGUARDHOME_PORT_2=53

SPEEDTEST_PORT=8082